:root {
    --color-card-start: #83471b;
    --color-card-end: #ab5c10;
}


.character-block-img {
    width: 100%;
    height: auto;
    background-position: center center; 
    background-repeat: no-repeat;     
    background-size: cover; 
    position: relative;
}

.character-block-img.rarity-4 {
  background-image: url('https://raw.githubusercontent.com/kanjanaw/randomteam/main/src/images/bg/card-bg-4.png');
}

.character-block-img.rarity-5 {
  background-image: url('https://raw.githubusercontent.com/kanjanaw/randomteam/main/src/images/bg/card-bg-5.png');
}

.name {
    background-color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 4px 15px;
    width: 100%;
    height: auto;
}

.elemental {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 5px;
    top: 5px;
}